codeblocks.cbp
codeblocks.layout
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
stamp-h1
mkinstalldirs
po/POTFILES
po/stamp-it
src/.deps
missing
ltmain.sh
libtool
intltool-update.in
intltool-merge.in
intltool-extract.in
po/Makefile.in.in
src/.libs
src/*.c
src/*.stamp
src/zeitgeist
src/bluebird
test/direct/where-clause-test
data/ontology/*.py
query-operators-test
src/ontology.vala
src/ontology-uris.vala
data/org.gnome.zeitgeist.service
extensions/.deps
extensions/.libs
extensions/*.c
extensions/*.stamp
extensions/*.la
extensions/*.lo
extensions/fts++/.deps
extensions/fts++/.libs
extensions/fts++/*.c
extensions/fts++/*.stamp
extensions/fts++/*.la
extensions/fts++/*.lo
extensions/fts++/zeitgeist-internal.*
extensions/fts++/test/.deps
extensions/fts++/test/.libs
extensions/fts++/test/test-fts
extensions/fts++/org.gnome.zeitgeist.fts.service
extensions/fts++/zeitgeist-fts
test/direct/marshalling
test/dbus/__pycache__
test/direct/table-lookup-test
src/zeitgeist-engine.vapi
src/zeitgeist-engine.h
py-compile
python/_ontology.py
test/direct/*.c
src/zeitgeist-daemon
mimetype-test
marshalling-test
test/direct/datamodel-test
