*.tar.xz
*~
ABOUT-NLS
codeblocks.cbp
codeblocks.layout
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
stamp-h1
mkinstalldirs
po/*.gmo
po/*.header
po/*.pot
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
.deps
.libs
m4
missing
ltmain.sh
libtool
src/*.c
datahub/*.c
datahub/zeitgeist-datahub
examples/*.c
src/zeitgeist
src/bluebird
test/direct/where-clause-test
data/ontology/*.py
query-operators-test
data/org.gnome.zeitgeist.Engine.service
data/zeitgeist.service
data/zeitgeist-datahub.desktop
extensions/*.c
extensions/fts++/*.c
extensions/fts++/zeitgeist-internal.*
extensions/fts++/test/test-fts
extensions/fts++/org.gnome.zeitgeist.SimpleIndexer.service
extensions/fts++/zeitgeist-fts.service
extensions/fts++/zeitgeist-fts
test/direct/marshalling
test/dbus/__pycache__
test/direct/table-lookup-test
src/zeitgeist-engine.h
py-compile
python/_ontology.py
test/direct/*.c
src/zeitgeist-daemon
mimetype-test
marshalling-test
test/direct/datamodel-test
libzeitgeist/*.c
examples/get-events-with-id
examples/monitor-events
examples/most-recent-events
examples/data-source-stuff
libzeitgeist/libzeitgeist-2.0.pc
libzeitgeist/zeitgeist-2.0.pc
libzeitgeist/ontology.vala
libzeitgeist/ontology-uris.vala
gtk-doc.make
doc/libzeitgeist/zeitgeist-2.0-*.txt
doc/libzeitgeist/zeitgeist-2.0.types
doc/libzeitgeist/zeitgeist-2.0-scan.c
doc/libzeitgeist/devhelp
doc/libzeitgeist/valadoc
doc/libzeitgeist/gtkdoc
*.o
*.la
*.stamp
*.lo
*.pyc
*.swp
*.h
*.vapi
*.gir
*.typelib
*.asc
*.trs
*.log
test-driver
test/c/test-datasource
test/c/test-event
test/c/test-log
test/c/test-mimetypes
test/c/test-monitor
test/c/test-symbols
test/c/test-timerange
test/c/test-timestamp
test/direct/*-test
doc/libzeitgeist/docs_c
doc/libzeitgeist/docs_vala
examples/c/find-events
examples/c/monitor-events
examples/c/search-events
examples/vala/data-source-stuff
examples/vala/data-source-stuff.c
examples/vala/get-events-with-id
examples/vala/get-events-with-id.c
examples/vala/insert-events
examples/vala/insert-events.c
examples/vala/monitor-events
examples/vala/monitor-events.c
examples/vala/most-recent-events
examples/vala/most-recent-events.c
