[Desktop Entry]
Name=Zeitgeist Tray Icon
Comment=Start the Zeitgeist engine
Exec=zeitgeist-trayicon
TryExec=zeitgeist-trayicon
Icon=zeitgeist
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;TrayIcon;
